<a href="https://colab.research.google.com/github/MarthaBBrito/DataScience/blob/main/DesafiosDataScience.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Desafio 1
##**Começando com Python**
Utilizando a função `print()`

In [ ]:
print('Escola de Dados da Alura!')

Escola de Dados da Alura!

In [ ]:
nome = 'Martha'
sobrenome = 'Barbosa'
print(nome)
print(sobrenome)

Martha
Barbosa

In [ ]:
print(nome[0])
print(nome[1])
print(nome[2])
print(nome[3])
print(nome[4])
print(nome[5])

M
a
r
t
h
a

In [ ]:
dia = 8
mes = 'junho'
ano = 2001
anoAtual = 2023
print('Meu aniversário é no dia', dia, 'de', mes)

Meu aniversário é no dia 8 de junho

In [ ]:
print('Eu nasci em', ano)

Eu nasci em 2001

In [ ]:
print('Eu nasci no dia', dia, 'de junho de', ano)

Eu nasci no dia 8 de junho de 2001

In [ ]:
print('Ano atual:', anoAtual)

Ano atual: 2023

# Desafio 2
##**Manipulando Dados no Python**
Utilizando a função `input()`

##Coleta e amostragem de dados

In [ ]:
nome = input('Digite seu nome: ')
idade = int(input('Digite sua idade:'))
altura = float(input('Digite sua altura em metros: '))
print(f'Olá, {nome}! Você tem {idade} anos e tem {altura} metros de altura')

Digite seu nome: Martha
Digite sua idade:22
Digite sua altura em metros: 1.74
Olá, Martha! Você tem 22 anos e tem 1.74 metros de altura

##Calculadora com operadores

In [ ]:
print('Vamos fazer uma soma de dois números!')
n1 = int(input('Digite um número inteiro: '))
n2 = int(input('Digite outro número inteiro: '))
soma = n1 + n2
print(f'A soma de {n1} e {n2} é igual a {soma}')

Vamos fazer uma soma de dois números!
Digite um número inteiro: 2
Digite outro número inteiro: 3
A soma de 2 e 3 é igual a 5

In [ ]:
print('Vamos fazer uma soma de três números!')
n1 = int(input('Digite um número inteiro: '))
n2 = int(input('Digite outro número inteiro: '))
n3 = int(input('Digite outro número inteiro: '))
soma = n1 + n2 + n3
print(f'A soma de {n1}, {n2} e {n3} é igual a {soma}')

Vamos fazer uma soma de três números!
Digite um número inteiro: 2
Digite outro número inteiro: 3
Digite outro número inteiro: 6
A soma de 2, 3 e 6 é igual a 11

In [ ]:
print('Vamos fazer uma subtração!')
n1 = int(input('Digite um número inteiro: '))
n2 = int(input('Digite outro número inteiro: '))
diferenca = n1 - n2
print(f'A subtração de {n1} e {n2} é igual a {diferenca}')

Vamos fazer uma subtração!
Digite um número inteiro: 2
Digite outro número inteiro: 3
A subtração de 2 e 3 é igual a -1

In [ ]:
print('Vamos fazer uma multiplicação!')
n1 = float(input('Digite um número: '))
n2 = float(input('Digite outro número: '))
multiplicacao = n1 * n2
print(f'A multiplicação de {n1} e {n2} é igual a {multiplicacao}')

Vamos fazer uma multiplicação!
Digite um número: 6.5
Digite outro número: 7
A multiplicação de 6.5 e 7.0 é igual a 45.5

In [ ]:
print('Vamos fazer uma divisão!')
n1 = float(input('Digite um número para o numerador: '))
n2 = float(input('Digite um número para o denominador, que não seja 0: '))
divisao = n1 / n2
print(f'A divisão de {n1} por {n2} é igual a {divisao}')

Vamos fazer uma divisão!
Digite um número para o numerador: 16.5
Digite um número para o denominador, que não seja 0: 14.2
A divisão de 16.5 por 14.2 é igual a 1.1619718309859155

In [ ]:
print('Vamos fazer uma exponenciação!')
n1 = int(input('Digite um número inteiro para a base: '))
n2 = int(input('Digite outro número inteiro para a potência: '))
potencia = n1 ** n2
print(f'O resultado da potência de {n1} elevado a {n2} é igual a {potencia}')

Vamos fazer uma exponenciação!
Digite um número inteiro para a base: 10
Digite outro número inteiro para a potência: 6
O resultado da potência de 10 elevado a 6 é igual a 1000000

In [ ]:
print('Vamos fazer uma divisão inteira!')
n1 = int(input('Digite um número inteiro para o numerador: '))
n2 = int(input('Digite um número inteiro para o denominador, que não seja 0: '))
divisao = n1 / n2
print(f'A divisão de {n1} por {n2} é igual a {divisao}')

Vamos fazer uma divisão inteira!
Digite um número inteiro para o numerador: 45
Digite um número inteiro para o denominador, que não seja 0: 9
A divisão de 45 por 9 é igual a 5.0

In [ ]:
print('Vamos achar o resto de uma divisão!')
n1 = float(input('Digite um número para o numerador: '))
n2 = float(input('Digite um número para o denominador, que não seja 0: '))
resto = n1 % n2
print(f'O resto da divisão de {n1} por {n2} é igual a {resto}')

Vamos achar o resto de uma divisão!
Digite um número para o numerador: 62
Digite um número para o denominador, que não seja 0: 5
O resto da divisão de 62.0 por 5.0 é igual a 2.0

In [ ]:
print('Vamos calcular a média de um aluno!')
nota1 = float(input('Digite a primeira nota: '))
nota2 = float(input('Digite a segunda nota: '))
nota3 = float(input('Digite a terceira nota: '))
media = (nota1 + nota2 + nota3)/3
print(f'A média desse aluno é {media}')

Vamos calcular a média de um aluno!
Digite a primeira nota: 5.5
Digite a segunda nota: 6.4
Digite a terceira nota: 8
A média desse aluno é 6.633333333333333

In [ ]:
num1 = 5
num2 = 12
num3 = 20
num4 = 15
mediapond = (num1 + 2*num2 + 3*num3 + 4*num4) / (1+2+3+4)
print(f'A média ponderada é {mediapond}')

A média ponderada é 14.9

##Editando textos

In [ ]:
frase = 'we live, we love, we lie'
print(f'Ele disse que estava indo ali e começou a tocar {frase}')

Ele disse que estava indo ali e começou a tocar we live, we love, we lie

In [ ]:
fraseInput = str(input('Digite uma frase que te defina: '))
print(f'Uau, é realmente inspirador! \n{fraseInput}')

Digite uma frase que te defina: we live, we love, we lie
Uau, é realmente inspirador!
we live, we love, we lie

In [ ]:
fraseUp = str(input('Digite uma frase que te defina: '))
fraseUp = fraseUp.upper()
print(f'Uau, é realmente inspirador! \n{fraseUp}')

Digite uma frase que te defina: o gato miou
Uau, é realmente inspirador!
O GATO MIOU

In [ ]:
fraseLow = str(input('Digite uma frase que te defina: '))
fraseLow = fraseLow.lower()
print(f'Uau, é realmente inspirador! \n{fraseLow}')

Digite uma frase que te defina: QUERO CAGAR
Uau, é realmente inspirador!
quero cagar

In [ ]:
sentence = '  that makes me crazy?  '
print(sentence.strip())

that makes me crazy?

In [ ]:
sentenceTwo = input('Digite uma frase inspiradora: ')
print(sentenceTwo.strip())

Digite uma frase inspiradora:     Pretty Girl
Pretty Girl

In [ ]:
sentenceThree = input('Digite uma frase inspiradora: ')
print(sentenceThree.lower().strip())

Digite uma frase inspiradora:    SATURDAY DAYS
saturday days

In [ ]:
change = input('Vamos brincar! Digite uma frase: ')
print(change.replace('e','f'))

Vamos brincar! Digite uma frase: eu sou legal
fu sou lfgal

In [ ]:
changeTwo = input('Vamos brincar! Digite uma frase: ')
print(changeTwo.replace('a','@'))

Vamos brincar! Digite uma frase: agora me falta sonhar
@gor@ me f@lt@ sonh@r

In [ ]:
changeThree = input('Vamos brincar! Digite uma frase: ')
print(changeThree.replace('s','$'))

Vamos brincar! Digite uma frase: sad station store
$ad $tation $tore

#Desafio 3
##**Estruturas Condicionais**

##Aquecendo na programação

In [ ]:
print('Vamos comparar os números!')
num = float(input('Escreva um número: '))
num_2 = float(input('Escreva outro número: '))

if num > num_2:
  print(f'{num} é maior que {num_2}')
elif num == num_2:
  print(f'{num} e {num_2} são iguais!')
elif num < num_2:
  print(f'{num} é menor que {num_2}')

Vamos comparar os números!
Escreva um número: 6
Escreva outro número: 5
6.0 é maior que 5.0

In [ ]:
print('Vamos comparar o índice de crescimento de uma empresa!')
percent = float(input('Informe o percentual de crescimento: '))

if percent > 0 :
  print(f'Houve um crescimento de {percent}%')
elif percent < 0 :
  print(f'Houve um decrescimento de {percent}%')
else:
  print(f'Não houve variação')

Vamos comparar o índice de crescimento de uma empresa!
Informe o percentual de crescimento: -16
Houve um decrescimento de -16.0%

In [ ]:
print('Vogal ou consoante?')
vogal = 'aeiou'
letra = input('Forneça UMA letra: ').lower()

if letra in vogal:
  print(f'{letra} é uma vogal!')
else:
  print(f'{letra} é uma consoante!')

Vogal ou consoante?
Forneça UMA letra: b
b é uma consoante!

In [ ]:
print('Média de preço de um carro')
precoano1 = float(input('Forneça o valor do carro no primeiro ano: '))
precoano2 = float(input('Forneça o valor do carro no segundo ano: '))
precoano3 = float(input('Forneça o valor do carro no terceiro ano: '))

maior = precoano1
if precoano2 > maior:
  maior = precoano2
elif precoano3 > maior:
  maior = precoano3

menor = precoano1
if precoano2 < menor:
  menor = precoano2
elif precoano3 < menor:
  menor = precoano3

print(f'O maior preço foi de R$ {maior}')
print(f'O menor preço foi de R$ {menor}')

Média de preço de um carro
Forneça o valor do carro no primeiro ano: 14000
Forneça o valor do carro no segundo ano: 13000
Forneça o valor do carro no terceiro ano: 16500
O maior preço foi de R$ 16500.0
O menor preço foi de R$ 13000.0

In [ ]:
print('Qual é o produto mais barato?')
produto_1 = float(input('Informe o preço do primeiro produto: '))
produto_2 = float(input('Informe o preço do segundo produto: '))
produto_3 = float(input('Informe o preço do terceiro produto: '))

menorP = produto_1
if produto_2 < menorP:
  menorP = produto_2
elif produto_3 < menorP:
  menorP = produto_3

print(f'O produto mais barato custa R${menorP}')

Qual é o produto mais barato?
Informe o preço do primeiro produto: 8.90
Informe o preço do segundo produto: 7.50
Informe o preço do terceiro produto: 9
O produto mais barato custa R$7.5

In [ ]:
print('Ordem decrescente dos números!')
numero1 = int(input('Digite um número inteiro: '))
numero2 = int(input('Digite um outro número inteiro: '))
numero3 = int(input('Digite um outro número inteiro: '))

if (numero1 >= numero2) and (numero1 >= numero3):
  print(numero1)
  if numero2 >= numero3:
    print(numero2)
    print(numero3)
  else:
    print(numero3)
    print(numero2)
elif (numero2 >= numero1) and (numero2 >= numero3):
  print(numero2)
  if numero1 >= numero3:
    print(numero1)
    print(numero3)
  else:
    print(numero3)
    print(numero1)
else:
  print(numero3)
  if numero1 >= numero2:
    print(numero1)
    print(numero2)
  else:
    print(numero2)
    print(numero1)

Ordem decrescente dos números!
Digite um número inteiro: 4
Digite um outro número inteiro: 2
Digite um outro número inteiro: 8
8
4
2

In [ ]:
turno = input('Em qual turno você estuda: ').lower()

if turno == 'manhã':
  print('Bom dia!')
elif turno == 'tarde':
  print('Boa tarde!')
elif turno == 'noite':
  print('Boa noite!')
else:
  print('Valor inválido! Digite manhã, tarde ou noite!')

Em qual turno você estuda: manhã
Bom dia!

In [ ]:
print('Par ou ímpar?')
num = int(input('Digite um número inteiro: '))

if num % 2 == 0:
  print('O número é par!')
else:
  print('O número é ímpar!')

Par ou ímpar?
Digite um número inteiro: 17123
O número é ímpar!

In [ ]:
print('Inteiro ou decimal?')
number = float(input('Digite um número: '))

if number % 1 == 0:
  print(f'{number} é inteiro!')
else:
  print(f'{number} é decimal!')

Inteiro ou decimal?
Digite um número: 15.4
15.4 é decimal!

##Momento do projeto

In [ ]:
#Calculadora

#Entrada de dados
num1 = float(input('Digite um número: '))
num2 = float(input('Digite outro número: '))
operacao = input('Qual operação deseja realizar?(+, -, *, /): ')

#Manipulação de Dados
if operacao == '+':
  resultado = num1 + num2
  print(resultado)
elif operacao == '-':
  resultado = num1 - num2
  print(resultado)
elif operacao == '*':
  resultado = num1 * num2
  print(resultado)
elif operacao == '/':
  resultado = num1 / num2
  print(resultado)
else:
  print('Valor inválido! Digite um valor válido:(+, -, *, /)')
  resultado = 0

#Definindo se o resultado da operação é inteiro ou decimal, negativo ou positivo
#, par ou ímpar
if resultado % 1 == 0:
  print('O resultado é inteiro!')
else:
  print('O resultado é decimal!')

if resultado < 0:
  print('O resultado é negativo!')
else:
  print('O resultado é positivo!')

if resultado % 2 == 0:
  print('O resultado é par!')
else:
  print('O resultado é ímpar!')

Digite um número: 6
Digite outro número: 9
Qual operação deseja realizar?(+, -, *, /): *
54.0
O resultado é inteiro!
O resultado é positivo!
O resultado é par!

In [ ]:
lado1 = float(input('Digite um valor: '))
lado2 = float(input('Digite um outro valor: '))
lado3 = float(input('Digite um outro valor: '))
resposta = input('Esses valores podem ser utilizados para formar um triângulo? (sim = +, não = -) ')

if resposta == '+':
  print('Ok, vamos lá!')
  if lado1 == lado2 == lado3:
    print(f'O triângulo é equilátero! Todos os lados iguais: {lado1},{lado2},{lado3}')
  elif lado1 == lado2 != lado3:
    print(f'O triângulo é isóceles! Dois lados iguais e um diferente: {lado1},{lado2},{lado3}')
  elif lado1 == lado3 != lado2:
    print(f'O triângulo é isóceles! Dois lados iguais e um diferente: {lado1},{lado2},{lado3}')
  elif lado2 == lado3 != lado1:
    print(f'O triângulo é isóceles! Dois lados iguais e um diferente: {lado1},{lado2},{lado3}')
  elif lado1 != lado2 != lado3:
    print(f'O triângulo é escaleno! Todos os lados são diferentes: {lado1},{lado2},{lado3}')
else:
  print(f'Tudo bem. Aqui estão os valores digitados:\n{lado1}, {lado2}, {lado3}')

Digite um valor: 45
Digite um outro valor: 55
Digite um outro valor: 45
Esses valores podem ser utilizados para formar um triângulo? (sim = +, não = -) +
Ok, vamos lá!
O triângulo é isóceles! Dois lados iguais e um diferente: 45.0,55.0,45.0

In [ ]:
print('Coletaremos os lados de um triângulo.')
lado1 = float(input('Digite o comprimento do primeiro lado: '))
lado2 = float(input('Digite o comprimento do segundo lado: '))
lado3 = float(input('Digite o comprimento do terceiro lado: '))

if (lado1 + lado2 > lado3) and (lado2 + lado3 > lado1) and (lado1 + lado3 > lado2):
    print('Os valores podem formar um triângulo!')

    if (lado1 == lado2) and (lado2 == lado3):
        print('O triângulo é equilátero.')
    elif (lado1 != lado2) and (lado2 != lado3) and (lado1 != lado3):
        print('O triângulo é escaleno.')
    else:
        print('O triângulo é isósceles.')
else:
    print('Os valores não podem formar um triângulo!')

In [ ]:
#Vamos calcular o desconto no valor do etanol ou diesel
combustivel = input('Digite o tipo de combustível (E(etanol) ou D(diesel): ')
quantidade = float(input('Digite a quantidade de litros abastecida: '))

if combustivel == 'E':
  preco = 1.70 * quantidade
  print('Preço sem desconto:')
  print(preco)
  if 0 < quantidade <= 15:
    preco = preco - (preco * 0.02)
    print('Preço com desconto:')
    print(preco)
  else:
    preco = preco - (preco * 0.04)
    print('Preço com desconto:')
    print(preco)

if combustivel == 'D':
  preco = 2.00 * quantidade
  print('Preço sem desconto:')
  print(preco)
  if 0 < quantidade <= 15:
    preco = preco - (preco * 0.03)
    print('Preço com desconto:')
    print(preco)
  else:
    preco = preco - (preco * 0.05)
    print('Preço com desconto:')
    print(preco)

Digite o tipo de combustível (E(etanol) ou D(diesel): D
Digite a quantidade de litros abastecida: 10
Preço sem desconto:
20.0
Preço com desconto:
19.4

In [ ]:
#análise de dados da venda de imóveis
vendas2022 = float(input('Digite a quantidade de vendas no ano de 2022: '))
vendas2023 = float(input('Digite a quantidade de vendas no ano de 2023: '))

valor_percentual = ((vendas2023 / vendas2022) - 1) * 100

if valor_percentual > 20:
  print('Bonificação para o time de vendas!')
elif 2 <= valor_percentual <= 20:
  print('Pequena bonificação para o time de vendas!')
elif -10 <= valor_percentual < 2:
  print('Planejamento de políticas de  incentivo de vendas')
elif valor_percentual < -10:
  print('Corte de gastos')

Digite a quantidade de vendas no ano de 2022: 40000000
Digite a quantidade de vendas no ano de 2023: 67410000
Bonificação para o time de vendas!

#Desafio 4
##**Estruturas de repetição**

##Aquecendo na programação

In [ ]:
num1 = int(input('Digite um número inteiro: '))
num2 = int(input('Digite um outro número inteiro: '))

if num1 < num2:
  print('Os números entre eles são: ')
  for i in range(num1 + 1, num2):
    print(i)
elif num1 > num2:
  print('Os números entre eles são: ')
  for i in range(num2 + 1, num1):
    print(i)
else:
  print('Os números são iguais')

Digite um número inteiro: 10
Digite um outro número inteiro: 1
Os números entre eles são:
2
3
4
5
6
7
8
9

In [ ]:
bacteria_A = 4
bacteria_B = 10

taxa_A = 0.03
taxa_B = 0.015

dias = 0

while bacteria_A < bacteria_B:
  bacteria_A *= 1 + taxa_A
  bacteria_B *= 1 + taxa_B

  dias += 1

print(f'Levará {dias} dias para a a colônia A superar a colônia B')

Levará 63 dias para a a colônia A superar a colônia B

In [ ]:
notas_validas = 0
notas_invalidas = 0

for _ in range(15):
    avaliacao = int(input('Digite uma nota de 0 a 5: '))
    while (avaliacao < 0) or (avaliacao > 5):
        print('Digite um valor válido!')
        notas_invalidas += 1
        avaliacao = int(input('Digite uma nota de 0 a 5: '))
    notas_validas += 1

print(f'Número de notas válidas: {notas_validas}')
print(f'Número de notas inválidas: {notas_invalidas}')
print('Verificação feita! Todas as notas foram verificadas!')

Digite uma nota de 0 a 5: 5
Digite uma nota de 0 a 5: 4
Digite uma nota de 0 a 5: 7
Digite um valor válido!
Digite uma nota de 0 a 5: 3
Digite uma nota de 0 a 5: 2
Digite uma nota de 0 a 5: 1
Digite uma nota de 0 a 5: 0
Digite uma nota de 0 a 5: 8
Digite um valor válido!
Digite uma nota de 0 a 5: 9
Digite um valor válido!
Digite uma nota de 0 a 5: 5
Digite uma nota de 0 a 5: 3
Digite uma nota de 0 a 5: 2
Digite uma nota de 0 a 5: 4
Digite uma nota de 0 a 5: 5
Digite uma nota de 0 a 5: 2
Digite uma nota de 0 a 5: 1
Digite uma nota de 0 a 5: 3
Digite uma nota de 0 a 5: 2
Número de notas válidas: 15
Número de notas inválidas: 3
Verificação feita! Todas as notas foram verificadas!

In [ ]:
temperatura = float(input('Insira uma temperatura em °C: '))

soma = 0
contadora = 0
while temperatura != -273:
  soma += temperatura
  contadora += 1
  temperatura = float(input('Insira uma temperatura em °C: '))

media = soma / contadora
print(f'A média das temperaturas é {media}')

Insira uma temperatura em °C: 45
Insira uma temperatura em °C: 30
Insira uma temperatura em °C: 23
Insira uma temperatura em °C: 14
Insira uma temperatura em °C: 5
Insira uma temperatura em °C: 9
Insira uma temperatura em °C: 34
Insira uma temperatura em °C: 23
Insira uma temperatura em °C: 34
Insira uma temperatura em °C: 23
Insira uma temperatura em °C: 56
Insira uma temperatura em °C: 34
Insira uma temperatura em °C: 32
Insira uma temperatura em °C: 23
Insira uma temperatura em °C: 25
Insira uma temperatura em °C: 36
Insira uma temperatura em °C: 27
Insira uma temperatura em °C: 39
Insira uma temperatura em °C: 35
Insira uma temperatura em °C: 45
Insira uma temperatura em °C: 22
Insira uma temperatura em °C: 11
Insira uma temperatura em °C: 23
Insira uma temperatura em °C: 34
Insira uma temperatura em °C: 45
Insira uma temperatura em °C: 34
Insira uma temperatura em °C: 32
Insira uma temperatura em °C: 32
Insira uma temperatura em °C: 11
Insira uma temperatura em °C: -273
A média das temperaturas é 28.82758620689655

In [ ]:
#Vamos calcular um fatorial de um número fornecido pelo usuário

#entrada dos dados
fat = int(input('Forneça um número inteiro: '))

#inicializadores do looping
multiplicacao = 1
i = fat

#manipulação
while i > 0:
    multiplicacao *= i
    i -= 1
print(f'O fatorial de {fat} é igual a {multiplicacao}')

Forneça um número inteiro: 4
O fatorial de 4 é igual a 24

##Momento projetos

In [ ]:
#Tabuada

#entrada dos dados
num = int(input('Digite um número inteiro de 1 a 10: '))

#manipulação dos dados
for i in range(1,11):
  resultado = num * 1
  print(f'{num} x {i} = {resultado}')

Digite um número inteiro de 1 a 10: 2
2 x 1 = 2
2 x 2 = 2
2 x 3 = 2
2 x 4 = 2
2 x 5 = 2
2 x 6 = 2
2 x 7 = 2
2 x 8 = 2
2 x 9 = 2
2 x 10 = 2

In [ ]:
#é número primo ou não?

#entrada de dados
primo = int(input('Forneça um número inteiro: '))

#manipulação de dados
if primo > 1:
  for i in range(2, primo):
    if (primo % i) == 0:
      print(f'{primo} não é um número primo!')
      break
  else:
      print(f'{primo} é um número primo!')

else:
    print(f'{primo} não é um número primo!')

Forneça um número inteiro: 1
1 não é um número primo!

In [ ]:
#entrada de dados
idade = int(input('Digite uma idade (ou um número negativo para encerrar): '))

#contadores de looping
contador_0_25 = 0
contador_26_50 = 0
contador_51_75 = 0
contador_76_100 = 0

#manipulação de dados
while idade >= 0:
  if 0 <= idade <= 25:
    contador_0_25 += 1
  elif 26 <= idade <=50:
    contador_26_50 += 1
  elif 51 <= idade <= 75:
    contador_51_75 += 1
  elif 76 <= idade <= 100:
    contador_76_100 += 1

  idade = int(input('Digite uma idade (ou um número negativo para encerrar): '))

#print dos resultados
print('Distribuição de idades:')
print('idade [0-25]: ', contador_0_25)
print('idade [26-50]: ', contador_26_50)
print('idade [51-75]: ', contador_51_75)
print('idade [76-100]: ', contador_76_100)

Digite uma idade (ou um número negativo para encerrar): 67
Digite uma idade (ou um número negativo para encerrar): 76
Digite uma idade (ou um número negativo para encerrar): 58
Digite uma idade (ou um número negativo para encerrar): 48
Digite uma idade (ou um número negativo para encerrar): 34
Digite uma idade (ou um número negativo para encerrar): 56
Digite uma idade (ou um número negativo para encerrar): 75
Digite uma idade (ou um número negativo para encerrar): 74
Digite uma idade (ou um número negativo para encerrar): 98
Digite uma idade (ou um número negativo para encerrar): 13
Digite uma idade (ou um número negativo para encerrar): 34
Digite uma idade (ou um número negativo para encerrar): 23
Digite uma idade (ou um número negativo para encerrar): 22
Digite uma idade (ou um número negativo para encerrar): 45
Digite uma idade (ou um número negativo para encerrar): 33
Digite uma idade (ou um número negativo para encerrar): 45
Digite uma idade (ou um número negativo para encerrar): 65
Digite uma idade (ou um número negativo para encerrar): 19
Digite uma idade (ou um número negativo para encerrar): 14
Digite uma idade (ou um número negativo para encerrar): 27
Digite uma idade (ou um número negativo para encerrar): 35
Digite uma idade (ou um número negativo para encerrar): 25
Digite uma idade (ou um número negativo para encerrar): -1
Distribuição de idades:
idade [0-25]:  6
idade [26-50]:  8
idade [51-75]:  6
idade [76-100]:  2

In [ ]:
#contadores de looping
voto_1 = 0
voto_2 = 0
voto_3 = 0
voto_4 = 0
voto_5 = 0
voto_6 = 0

#manipulação dos dados
for i in range(0,20):
  #entrada de dados
  eleicao = int(input('Vote em um candidato (1 a 4) ou vote branco (5) ou nulo (6): '))
  if eleicao == 1:
    voto_1 += 1
  elif eleicao == 2:
    voto_2 += 1
  elif eleicao == 3:
    voto_3 += 1
  elif eleicao == 4:
    voto_4 += 1
  elif eleicao == 5:
    voto_5 += 1
  elif eleicao == 6:
    voto_6 += 1
  else:
    print('Digite um valor válido')

#saída de dados
print('Número de votos:')
print(f'candidato 1: {voto_1}')
print(f'candidato 2: {voto_2}')
print(f'candidato 3: {voto_3}')
print(f'candidato 4: {voto_4}')
print(f'votos em branco: {voto_5}')
print(f'votos nulos: {voto_6}')

Vote em um candidato (1 a 4) ou vote branco (5) ou nulo (6): 2
Vote em um candidato (1 a 4) ou vote branco (5) ou nulo (6): 1
Vote em um candidato (1 a 4) ou vote branco (5) ou nulo (6): 3
Vote em um candidato (1 a 4) ou vote branco (5) ou nulo (6): 4
Vote em um candidato (1 a 4) ou vote branco (5) ou nulo (6): 3
Vote em um candidato (1 a 4) ou vote branco (5) ou nulo (6): 2
Vote em um candidato (1 a 4) ou vote branco (5) ou nulo (6): 5
Vote em um candidato (1 a 4) ou vote branco (5) ou nulo (6): 6
Vote em um candidato (1 a 4) ou vote branco (5) ou nulo (6): 2
Vote em um candidato (1 a 4) ou vote branco (5) ou nulo (6): 3
Vote em um candidato (1 a 4) ou vote branco (5) ou nulo (6): 9
Digite um valor válido
Vote em um candidato (1 a 4) ou vote branco (5) ou nulo (6): 1
Vote em um candidato (1 a 4) ou vote branco (5) ou nulo (6): 1
Vote em um candidato (1 a 4) ou vote branco (5) ou nulo (6): 2
Vote em um candidato (1 a 4) ou vote branco (5) ou nulo (6): 4
Vote em um candidato (1 a 4) ou vote branco (5) ou nulo (6): 3
Vote em um candidato (1 a 4) ou vote branco (5) ou nulo (6): 6
Vote em um candidato (1 a 4) ou vote branco (5) ou nulo (6): 1
Vote em um candidato (1 a 4) ou vote branco (5) ou nulo (6): 2
Vote em um candidato (1 a 4) ou vote branco (5) ou nulo (6): 2
Número de votos:
candidato 1: 4
candidato 2: 6
candidato 3: 4
candidato 4: 2
votos em branco: 1
votos nulos: 2

#Desafio 5
##**Estrutura de Dados**
##Aquecendo na programação

In [ ]:
gastos = [2172.54, 3701.35, 3518.09, 3456.61, 3249.38, 2840.82, 3891.45, 3075.26, 2317.64, 3219.08]

soma_gastos = sum(gastos)
print(f'A soma dos gastos é {soma_gastos}')
quantidade_gastos = len(gastos)
print(f'A quantidade de gastos é {quantidade_gastos}')
media_gastos = soma_gastos / quantidade_gastos
print(f'A média dos gastos é de {media_gastos}')

A soma dos gastos é 31442.22
A quantidade de gastos é 10
A média dos gastos é de 3144.222

In [ ]:
gastos = [2172.54, 3701.35, 3518.09, 3456.61, 3249.38, 2840.82, 3891.45, 3075.26, 2317.64, 3219.08]

contador_gasto_3000 = 0

for gasto in gastos:
  if gasto > 3000:
    contador_gasto_3000 += 1

porcentagem_gasto_3000 = 100 * contador_gasto_3000 / quantidade_gastos

print(f'A quantidade de gastos de mais de 3000 foram {contador_gasto_3000}')
print(f'A porcentagem de gastos no valor de 3000 foram {porcentagem_gasto_3000}')

A quantidade de gastos de mais de 3000 foram 7
A porcentagem de gastos no valor de 3000 foram 70.0

In [ ]:
lista_numeros = []

for i in range(0,5):
  n1 = int(input('Digite um número inteiro: '))
  lista_numeros.append(n1)

print(f'A lista de números fornecidos é: {lista_numeros}')

Digite um número inteiro: 5
Digite um número inteiro: 7
Digite um número inteiro: 3
Digite um número inteiro: 9
Digite um número inteiro: 0
A lista de números fornecidos é: [5, 7, 3, 9, 0]

In [ ]:
lista_numeros = []

for i in range(0,5):
  n1 = int(input('Digite um número inteiro: '))
  lista_numeros.append(n1)

print(f'A lista de números fornecidos é: {lista_numeros[::-1]}')

Digite um número inteiro: 5
Digite um número inteiro: 7
Digite um número inteiro: 3
Digite um número inteiro: 9
Digite um número inteiro: 0
A lista de números fornecidos é: [0, 9, 3, 7, 5]

In [ ]:
#entrada de dados
numero = int(input('Digite um  número inteiro: '))

#lista
lista_numeros = []

#manipulação dos dados
for num in range(2, numero):
  primo = True
  for teste in range(2, num):
    if num % teste == 0:
      primo = False
      break
  if primo:
      lista_numeros.append(num)

#saída dos dados
print(f'A lista de números primos: {lista_numeros}')

Digite um  número inteiro: 300
A lista de números primos: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 127, 131, 137, 139, 149, 151, 157, 163, 167, 173, 179, 181, 191, 193, 197, 199, 211, 223, 227, 229, 233, 239, 241, 251, 257, 263, 269, 271, 277, 281, 283, 293]

In [ ]:
#entrada de dados
dia = int(input("Digite o dia: "))
mes = int(input("Digite o mês: "))
ano = int(input("Digite o ano: "))

# Verifica se o ano é bissexto (divisível por 4 e não divisível por 100, exceto
#se divisível por 400)
if mes == 2:
  if ano % 4 == 0 and (ano % 400 == 0 or ano % 100 != 0):
    dias_fevereiro = 29
  else:
    dias_fevereiro = 28
  if dia >= 1 and dia <= dias_fevereiro:
    print('Data válida')
  else:
    print('Data inválida')

# Verificamos meses terminados em 31 dias
elif mes in [1, 3, 5, 7, 8, 10, 12]:
  if dia >= 1 and dia <= 31:
    print('Data válida')
  else:
    print('Data inválida')
# Verificamos meses terminados em 30 dias
elif mes in [4, 6, 9, 11]:
  if dia >= 1 and dia <= 30:
    print('Data válida')
  else:
    print('Data inválida')
# Caso o mês não esteja entre 1 e 12
else:
  print('Data inválida')

Digite o dia: 18
Digite o mês: 5
Digite o ano: 1999
Data válida

##Momento Projetos

In [ ]:
lista_bacterias = [1.2, 2.1, 3.3, 5.0, 7.8, 11.3, 16.6, 25.1, 37.8, 56.9]
lista_percentual = []

for i in range(1,len(lista_bacterias)):
  porcentagem = 100 * (lista_bacterias[i] - lista_bacterias[i-1]) / lista_bacterias[i-1]
  lista_percentual.append(porcentagem)

print(f'Lista percentual de reprodução das bactérias:\n{lista_percentual}')

Lista percentual de reprodução das bactérias:
[75.00000000000001, 57.142857142857125, 51.51515151515153, 56.0, 44.87179487179489, 46.90265486725664, 51.20481927710843, 50.59760956175297, 50.52910052910054]

In [ ]:
ids = []

contador_amargos = 0
contador_doces = 0

for i in range(0,10):
  ids.append(int(input('Digite o ID do produto: ')))

for id in ids:
  if id % 2 == 0:
    contador_doces += 1
  else:
    contador_amargos += 1

print(f'número de produtos doces: {contador_doces}')
print(f'número de produtos amargos: {contador_amargos}')

Digite o ID do produto: 3
Digite o ID do produto: 5
Digite o ID do produto: 7
Digite o ID do produto: 8
Digite o ID do produto: 81
Digite o ID do produto: 9
Digite o ID do produto: 45
Digite o ID do produto: 24
Digite o ID do produto: 86
Digite o ID do produto: 10
número de produtos doces: 4
número de produtos amargos: 6

In [ ]:
# Inicializamos os dados
respostas = []
gabarito = ['D', 'A', 'C', 'B', 'A', 'D', 'C', 'C', 'A', 'B']
nota = 0

# Recebemos as respostas do aluno
for i in range(0, 10):
  respostas.append(input(f'Insira a resposta da questão {i + 1}: ').upper())

# Verificamos se as respostas são iguais e adicionamos à nota
for i in range(0,10):
  if respostas[i] == gabarito[i]:
    nota += 1

# Exibindo nota final
print(f'Nota final: {nota}')

Insira a resposta da questão 1: d
Insira a resposta da questão 2: a
Insira a resposta da questão 3: c
Insira a resposta da questão 4: a
Insira a resposta da questão 5: b
Insira a resposta da questão 6: d
Insira a resposta da questão 7: c
Insira a resposta da questão 8: c
Insira a resposta da questão 9: b
Insira a resposta da questão 10: a
Nota final: 6

In [ ]:
temperaturas = []

for i in range(0,12):
  temperaturas.append(float(input(f'Digite a média de temperatura do mês {i+1}: ')))

meses = ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho',
         'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro']
media_anual = sum(temperaturas) / len(temperaturas)

print('Temperaturas acima da média em: ')
for i in range(0,12):
  if temperaturas[i] > media_anual:
      print(meses[i])

Digite a média de temperatura do mês 1: 30
Digite a média de temperatura do mês 2: 31
Digite a média de temperatura do mês 3: 32
Digite a média de temperatura do mês 4: 29
Digite a média de temperatura do mês 5: 27
Digite a média de temperatura do mês 6: 22
Digite a média de temperatura do mês 7: 25
Digite a média de temperatura do mês 8: 29
Digite a média de temperatura do mês 9: 30
Digite a média de temperatura do mês 10: 32
Digite a média de temperatura do mês 11: 24
Digite a média de temperatura do mês 12: 31
Temperaturas acima da média em:
Janeiro
Fevereiro
Março
Abril
Agosto
Setembro
Outubro
Dezembro

In [ ]:
#dados do dicionário
dados_vendas = {'Produto A': 300,
          'Produto B': 80,
          'Produto C': 60,
          'Produto D': 200,
          'Produto E': 250,
          'Produto F': 30}

#variáveis
total_vendas = 0
produto_mais_vendido = ''
unidades_produto_mais_vendido = 0

#Manipulação dos dados
for produto in dados_vendas.keys():
  total_vendas += dados_vendas[produto]
  if dados_vendas[produto] > unidades_produto_mais_vendido:
    unidades_produto_mais_vendido = dados_vendas[produto]
    produto_mais_vendido = produto

#saída dos dados
print(f'O total de vendas é igual a {total_vendas}')
print(f'O produto mais vendido é o {produto_mais_vendido}')

O total de vendas é igual a 920
O produto mais vendido é o Produto A

In [ ]:
#dados do dicionário
votos_marca = {'Design 1': 1334,
               'Design 2': 982,
               'Design 3': 1751,
               'Design 4': 210,
               'Design 5': 1811}

#variáveis
total_votos = 0
marca_mais_votos = ''
unidades_design_mais_votado = 0

#manipulação dos dados
for votos in votos_marca.keys():
  total_votos += votos_marca[votos]
  if votos_marca[votos] > unidades_design_mais_votado:
    unidades_design_mais_votado = votos_marca[votos]
    marca_mais_votos = votos

percentual_votos = 100 * (unidades_design_mais_votado) / (total_votos)

#saída dos dados
print(f'O total foi de {total_votos} votos.')
print(f'O design mais votado foi o {marca_mais_votos}')
print(f'A porcentagem do vencedor foi de {percentual_votos}')

O total foi de 6088 votos.
O design mais votado foi o Design 5
A porcentagem do vencedor foi de 29.747043363994745

In [ ]:
#lista
salarios = [1172, 1644, 2617, 5130, 5532, 6341, 6650, 7238, 7685, 7782, 7903]

#variáveis
dic_abonos = {}
total_abonos = 0
abono_minimo = 0
maior_abono = 0

#manipulação dos dados
for salario in salarios:
  abono = salario * 0.1
  if abono < 200:
    abono = 200

  dic_abonos[salario] = abono

for abono in dic_abonos.values():
  if abono == 200:
    abono_minimo += 1
  if abono > maior_abono:
    maior_abono = abono

  total_abonos += abono

#saída de dados
print(f'Abonos: {dic_abonos}')
print(f'O total de gastos com abonos é: {total_abonos}')
print(f'Número de funcionários que receberam o abono mínimo: {abono_minimo}')
print(f'Maior valor de abono: {maior_abono}')

Abonos: {1172: 200, 1644: 200, 2617: 261.7, 5130: 513.0, 5532: 553.2, 6341: 634.1, 6650: 665.0, 7238: 723.8000000000001, 7685: 768.5, 7782: 778.2, 7903: 790.3000000000001}
O total de gastos com abonos é: 6087.8
Número de funcionários que receberam o abono mínimo: 2
Maior valor de abono: 790.3000000000001

In [ ]:
#dicionário
biodiversidade = {'Área Norte': [2819, 7236],
                  'Área Leste': [1440, 9492],
                  'Área Sul': [5969, 7496],
                  'Área Oeste': [14446, 49688],
                  'Área Centro': [22558, 45148]}

#variáveis
soma_media = 0
maior_soma_especies = 0
area_com_mais_diversidade = ''

#manipulação de dados
for area, especies in biodiversidade.items():
  soma_especies = sum(especies)
  media = soma_especies / len(especies)

  print(f'A {area} tem em média {media} especies')

  if soma_especies > maior_soma_especies:
    maior_soma_especies = soma_especies
    area_com_mais_diversidade = area

  soma_media += media

media_total = soma_media / len(biodiversidade)

#saída de dados
print(f'A média total de espécies é de {media_total}')
print(f'Área com maior biodiversidade: {area_com_mais_diversidade}')

A Área Norte tem em média 5027.5 especies
A Área Leste tem em média 5466.0 especies
A Área Sul tem em média 6732.5 especies
A Área Oeste tem em média 32067.0 especies
A Área Centro tem em média 33853.0 especies
A média total de espécies é de 16629.2
Área com maior biodiversidade: Área Centro

In [ ]:
#dicionário
idades = {'Setor A': [22, 26, 30, 30, 35, 38, 40, 56, 57, 65],
          'Setor B': [22, 24, 26, 33, 41, 49, 50, 54, 60, 64],
          'Setor C': [23, 26, 26, 29, 34, 35, 36, 41, 52, 56],
          'Setor D': [19, 20, 25, 27, 34, 39, 42, 44, 50, 65]}

#variáveis
total_idades = 0

#manipulação dos dados
for setor, anos in idades.items():
  soma_idades = sum(anos)
  media_anos = soma_idades / len(anos)

  print(f'O {setor} tem funcionários com uma média de {media_anos} anos')

  # Somamos as médias
  total_idades += sum(anos)

# Média das médias
media_total = total_idades / (len(anos) * len(idades))
print(f'A média de idade geral é de {media_total} anos')

#variável para contar a quantidade de idades acima da média
quantidade_maior_idade = 0

#novo laço
for setor, anos in idades.items():
  for id in anos:
   if id > media_total:
    quantidade_maior_idade += 1

print(f'{quantidade_maior_idade} pessoas estão com idade acima da média geral')

O Setor A tem funcionários com uma média de 39.9 anos
O Setor B tem funcionários com uma média de 42.3 anos
O Setor C tem funcionários com uma média de 35.8 anos
O Setor D tem funcionários com uma média de 36.5 anos
A média de idade geral é de 38.625 anos
18 pessoas estão com idade acima da média geral

#Python para Data Science: trabalhando com funções, estruturas de dados e exceções

#Desafio 1
##Aquecendo na programação

In [ ]:
!pip install matplotlib==3.7.1

Requirement already satisfied: matplotlib==3.7.1 in /usr/local/lib/python3.10/dist-packages (3.7.1)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib==3.7.1) (1.1.1)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.10/dist-packages (from matplotlib==3.7.1) (0.12.0)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib==3.7.1) (4.43.1)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib==3.7.1) (1.4.5)
Requirement already satisfied: numpy>=1.20 in /usr/local/lib/python3.10/dist-packages (from matplotlib==3.7.1) (1.23.5)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib==3.7.1) (23.2)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib==3.7.1) (9.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib==3.7.1) (3.1.1)
Requirement already satisfied: python-dateutil>=2.7 in /usr/local/lib/python3.10/dist-packages (from matplotlib==3.7.1) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.7->matplotlib==3.7.1) (1.16.0)

In [ ]:
import numpy as np

In [ ]:
from random import choice

lista = [8, 12, 54, 23, 43, 1, 90, 87, 105, 77]

lista_1 = choice(lista)
lista_1

43

In [ ]:
from random import randrange
randrange(100)

53

In [ ]:
from math import pow
num1 = int(input('Digite um número inteiro para ser a base: '))
num2 = int(input('Digite outro número inteiro para ser a potência: '))

potencia = pow(num1,num2)

print(f'O número {num1} elevado a {num2} é igual a {potencia}')

Digite um número inteiro para ser a base: 6
Digite outro número inteiro para ser a potência: 3
O número 6 elevado a 3 é igual a 216.0

##Aplicando a projetos

In [ ]:
from random import randrange

num_sorteio = int(input('Forneça o número de participantes do sorteio: '))

print(f'O número sorteado é {randrange(1, num_sorteio)}')

Forneça o número de participantes do sorteio: 350
O número sorteado é 158

In [ ]:
from random import randrange

nome = input('Digite seu primeiro nome: ')
token = randrange(1000, 10000, 2)

print(f'"Olá, {nome}, o seu token de acesso é {token}! Seja bem-vindo(a)!"')

Digite seu primeiro nome: Maria
"Olá, Maria, o seu token de acesso é 1202! Seja bem-vindo(a)!"

In [ ]:
from random import choices

frutas = ["maçã", "banana", "uva", "pêra",
          "manga", "coco", "melancia", "mamão",
          "laranja", "abacaxi", "kiwi", "ameixa"]

print(f'As frutas escolhidas foram: {choices(frutas, k = 3)}')

As frutas escolhidas foram: ['coco', 'melancia', 'mamão']

In [ ]:
from math import sqrt

numeros = [2, 8, 15, 23, 91, 112, 256]
raiz = []

for i in numeros:
  raiz.append(sqrt(i))

for numero in range(len(raiz)):
  if raiz[numero] // 1 == raiz[numero]:
    print(f'O número {numeros[numero]} possui raíz quadrada inteira igual a {int(raiz[numero])}')

O número 256 possui raíz quadrada inteira igual a 16

In [ ]:
from math import pow
from math import pi

area = float(input('Forneça a área circular, em metros quadrados: '))

A = pi * pow(area, 2)
valor = A * 25.00

print(f'Você precisará pagar R$ {round(valor, 2)} por um área de {round(A, 2)} metros de grama')

Forneça a área circular, em metros quadrados: 2.5
Você precisará pagar R$ 490.87 por um área de 19.63 metros de grama

#Desafio 2

##Aquecendo na programação

In [ ]:
lista = [16, 14, 63, 65, 17, 99, 70, 11, 20, 48, 79, 32, 17, 89, 12, 25, 66]


tam = len(lista)
soma = sum(lista)
maior = max(lista)
menor = min(lista)

print(f"A lista possui {tam} números em que o maior número é {maior} e o menor número é {menor}. A soma dos valores presentes nela é igual a {soma}")

A lista possui 17 números em que o maior número é 99 e o menor número é 11. A soma dos valores presentes nela é igual a 743

In [ ]:
num = int(input('Digite um número inteiro de 1 a 10: '))

def tabuada(numero: int):
  print(f'Tabuada do {numero}:')
  for i in range(11):
    resultado = numero * i
    print(f'{numero} x {i} = {resultado}')

tabuada(num)

Digite um número inteiro de 1 a 10: 5
Tabuada do 5:
5 x 0 = 0
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [ ]:
#Código para ler a lista e criar uma nova lista contendo apenas múltiplos de 3
lista = [97, 80, 94, 88, 80, 1, 16, 53, 62, 32, 24, 99]

mult_3 = []

def multiplo_3(lista: list) -> list:
  for i in range(len(lista)):
    if lista[i] % 3 == 0:
      mult_3.append(lista[i])

  return mult_3

mult_3 = multiplo_3(lista)
mult_3

[24, 99]

In [ ]:
#Código que gera uma lista com o quadrado dos números da primeira lista
lista = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
qualitativo = 2

lista_quadrados = map(lambda x: x ** qualitativo, lista)
lista_quadrados = list(lista_quadrados)
lista_quadrados

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

##Momento Projetos

In [ ]:
#Vamos cacular a pontuação de skatistas

notas = []

for i in range(1,6):
  nota = float(input(f'Digite a nota {i}: '))
  notas.append(nota)

def media(lista):
  lista.remove(max(lista))
  lista.remove(min(lista))
  return sum(lista) / len(lista)

media = media(notas)
print(f'Nota da manobra: {round(media, 1)}')

Digite a nota 1: 6
Digite a nota 2: 7
Digite a nota 3: 6
Digite a nota 4: 7.6
Digite a nota 5: 8
Nota da manobra: 6.9

In [ ]:
notas = []

for i in range(1,5):
  nota = float(input(f'Digite a {i}ª nota do estudante: '))
  notas.append(nota)

maior = max(notas)
menor = min(notas)
media = sum(notas) / len(notas)

if media >= 6:
  situacao = 'APROVADO'
else:
  situacao = 'REPROVADO'

print(f"O(a) estudante obteve uma média de {media}, com a sua maior nota de {maior} pontos e a menor nota de {menor} pontos e foi {situacao}")

Digite a 1ª nota do estudante: 5
Digite a 2ª nota do estudante: 4
Digite a 3ª nota do estudante: 5
Digite a 4ª nota do estudante: 3
O(a) estudante obteve uma média de 4.25, com a sua maior nota de 5.0 pontos e a menor nota de 3.0 pontos e foi REPROVADO

In [ ]:
nomes = ["joão", "MaRia", "JOSÉ"]
sobrenomes = ["SILVA", "souza", "Tavares"]

nome_completo = map(lambda nome, sobrenome: f'{nome.title()} {sobrenome.title()}', nomes, sobrenomes)

for n in nome_completo:
  print(f'Nome completo: {n}')

Nome completo: João Silva
Nome completo: Maria Souza
Nome completo: José Tavares

In [ ]:
gols_marcados = [2, 1, 3, 1, 0]
gols_sofridos = [1, 2, 2, 1, 3]

def calcula_pontos(gols_marcados, gols_sofridos):
  pontos = 0
  for i in range(len(gols_marcados)):
    if gols_marcados[i] > gols_sofridos[i]:
      pontos += 3
    elif gols_marcados[i] == gols_sofridos[i]:
      pontos += 1

  aprov = 100 * pontos / (len(gols_marcados) * 3)
  return (pontos, aprov)

(pontos, aprov) = calcula_pontos(gols_marcados, gols_sofridos)

print(f"A pontuação do time foi de {pontos} e seu aproveitamento foi de {round(aprov)}%")

A pontuação do time foi de 7 e seu aproveitamento foi de 47%

In [ ]:
#Gastos de uma viagem
cidade = input("Qual a cidade? [Salvador, Fortaleza, Natal ou Aracaju]: ")
dias = int(input("Quantas diárias? "))
passeios = [200, 400, 250, 300]
distancia = [850, 800, 300, 550]
km_l = 14
gasolina = 5

def gasto_hotel(dias):
  #150 reais a diária fixa vezes o número de diárias
  return 150 * dias

def gasto_gasolina(cidade):
  if cidade == 'Salvador':
    #ida e volta(2 vezes) multiplicado pela distancia entre Recife e Salvador e
    #pelo preço da gasolina dividido pelo km/l que o carro faz
    return (2 * distancia[0] * gasolina) / km_l
  elif cidade == 'Fortaleza':
    return (2 * distancia[1] * gasolina) / km_l
  elif cidade == 'Natal':
    return(2 * distancia[2] * gasolina) / km_l
  elif cidade == 'Aracaju':
    return (2 * distancia[3] * gasolina) / km_l

def gasto_passeio(cidade, dias):
  #Multiplica o gasto de comida e passeios pelos dias de dias na cidade
  if cidade == 'Salvador':
    return passeios[0] * dias
  elif cidade == 'Fortaleza':
    return passeios[1] * dias
  elif cidade == 'Natal':
    return passeios[2] * dias
  elif cidade == 'Aracaju':
    return passeios[3] * dias

gastos = gasto_hotel(dias) + gasto_gasolina(cidade) + gasto_passeio(cidade, dias)

print(f"Com base nos gastos definidos, uma viagem de {dias} dias para {cidade} saindo de Recife custaria {round(gastos, 2)} reais")

Qual a cidade? [Salvador, Fortaleza, Natal ou Aracaju]: Fortaleza
Quantas diárias? 3
Com base nos gastos definidos, uma viagem de 3 dias para Fortaleza saindo de Recife custaria 2221.43 reais

In [ ]:
cidade = input('Para qual cidade gostaria de ir? ')
distancia = float(input('Qual a distância da cidade atual para a cidade escolhida? [km] '))
transporte = input('Qual seria o meio de transporte? [carro ou avião] ')
hotel = float(input('Quanto é a diária do hotel escolhido? '))
pessoas = int(input('Quantos quartos serão alugados? '))
dias = int(input('Quantos dias você(s) ficará(ão) hospedado(s)? '))
passeios = float(input('Quanto, em média, você pretende gastar com alimentação por dia? '))
gasolina = 6

def gasto_hotel(hotel, pessoas, dias):
  return hotel * pessoas * dias

def gasto_gasolina(distancia, transporte):
  if transporte == 'avião':
   aviao_passagem = float(input('Qual o valor da passagem de avião? [ida e volta]'))
   return aviao_passagem
  elif transporte == 'carro':
    gasolina_carro = float(input('Quantos quilômetros por litro o carro escolhido faz? '))
    return (2 * distancia * gasolina) / gasolina_carro

def gasto_passeio(passeios, dias):
  return passeios * dias

gastos = gasto_hotel(hotel, pessoas, dias) + gasto_gasolina(distancia, transporte) + gasto_passeio(passeios, dias)

print(f"Com base nos gastos definidos, uma viagem de {dias} dias para {cidade} saindo da cidade atual custaria {round(gastos, 2)} reais")

Para qual cidade gostaria de ir? Brasília
Qual a distância da cidade atual para a cidade escolhida? [km] 23
Qual seria o meio de transporte? [carro ou avião] carro
Quanto é a diária do hotel escolhido? 0
Quantos quartos serão alugados? 0
Quantos dias você(s) ficará(ão) hospedado(s)? 0
Quanto, em média, você pretende gastar com alimentação por dia? 0
Quantos quilômetros por litro o carro escolhido faz? 11
Com base nos gastos definidos, uma viagem de 0 dias para Brasília saindo da cidade atual custaria 25.09 reais

In [ ]:
# Requisitando uma frase e separando-a pelos espaços. Usando replace para trocar
# pontuações por espaço.
frase = input("Digite uma frase: ")
frase = frase.replace(',',' ').replace('.',' ').replace('!',' ').replace('?',' ').split()

# Filtrando a frase no formato de lista, passando para a lista tamanho
# apenas as palavras com 5 ou mais caracteres e imprimindo-a na tela
tamanho = list(filter(lambda x: len(x) >= 5, frase))
print(tamanho)

Digite uma frase: Você está bem?
[]

#Desafio 3
##estruturas de dados

In [ ]:
lista_de_listas = [[4,6,5,9], [1,0,7,2], [3,4,1,8]]

for lista in lista_de_listas:
  print(sum(lista))

24
10
16

In [ ]:
lista_de_tuplas = [('Pedro', 1.74, 81), ('Júlia', 1.65, 67), ('Otávio', 1.81, 83)]
lista = []

for tupla in lista_de_tuplas:
  lista.append(tupla[2])

print(lista)

[81, 67, 83]

In [ ]:
lista_de_tuplas = []
for i in range(len(lista)):
    lista_de_tuplas.append((i, lista[i]))
print(lista_de_tuplas)

[(0, 81), (1, 67), (2, 83)]

In [ ]:
aluguel = [('Apartamento', 1700), ('Apartamento', 1400), ('Casa', 2150), ('Apartamento', 1900), ('Casa', 1100)]

lista = [tupla[1] for tupla in aluguel if tupla[0]== 'Apartamento']
print(lista)

[1700, 1400, 1900]

In [ ]:
meses = ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez']
despesa = [860, 490, 1010, 780, 900, 630, 590, 770, 620, 560, 840, 360]

dicionario = [{meses[i]: despesa[i] for i in range(len(meses))}]
dicionario

[{'Jan': 860,
  'Fev': 490,
  'Mar': 1010,
  'Abr': 780,
  'Mai': 900,
  'Jun': 630,
  'Jul': 590,
  'Ago': 770,
  'Set': 620,
  'Out': 560,
  'Nov': 840,
  'Dez': 360}]

##Momento projetos

In [ ]:
vendas = [('2023', 4093), ('2021', 4320), ('2021', 5959), ('2022', 8883), ('2023', 9859), ('2022', 5141), ('2022', 7688), ('2022', 9544), ('2023', 4794), ('2021', 7178), ('2022', 3030), ('2021', 7471), ('2022', 4226), ('2022', 8190), ('2021', 9680), ('2022', 5616)]

lista_vendas = [tupla[1] for tupla in vendas if tupla[0] == '2022' and tupla[1] > 6000]
print(lista_vendas)

[8883, 7688, 9544, 8190]

In [ ]:
glicemia = [129, 82, 60, 97, 101, 65, 62, 167, 87, 53, 58, 92, 66, 120, 109, 62, 86, 96, 103, 88, 155, 52, 89, 73]
tipos = ['Hipoglicemia', 'Normal', 'Alterada', 'Diabetes']

rotulos = [('Hipoglicemia', glicose) if glicose <= 70 else ('Normal', glicose) if glicose < 100 else ('Alterada', glicose) if glicose < 125 else ('Diabetes', glicose) for glicose in glicemia]
print(rotulos)

[('Diabetes', 129), ('Normal', 82), ('Hipoglicemia', 60), ('Normal', 97), ('Alterada', 101), ('Hipoglicemia', 65), ('Hipoglicemia', 62), ('Diabetes', 167), ('Normal', 87), ('Hipoglicemia', 53), ('Hipoglicemia', 58), ('Normal', 92), ('Hipoglicemia', 66), ('Alterada', 120), ('Alterada', 109), ('Hipoglicemia', 62), ('Normal', 86), ('Normal', 96), ('Alterada', 103), ('Normal', 88), ('Diabetes', 155), ('Hipoglicemia', 52), ('Normal', 89), ('Normal', 73)]

In [ ]:
id = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
quantidade = [15, 12, 1, 15, 2, 11, 2, 12, 2, 4]
preco = [93.0, 102.0, 18.0, 41.0, 122.0, 14.0, 71.0, 48.0, 14.0, 144.0]

tabela = [('id', 'quantidade', 'preco', 'total')]
tabela += [(id[i], quantidade[i], preco[i], quantidade[i]*preco[i]) for i in range(len(id))]

print(tabela)

[('id', 'quantidade', 'preco', 'total'), (0, 15, 93.0, 1395.0), (1, 12, 102.0, 1224.0), (2, 1, 18.0, 18.0), (3, 15, 41.0, 615.0), (4, 2, 122.0, 244.0), (5, 11, 14.0, 154.0), (6, 2, 71.0, 142.0), (7, 12, 48.0, 576.0), (8, 2, 14.0, 28.0), (9, 4, 144.0, 576.0)]

In [ ]:
estados = ['SP', 'ES', 'MG', 'MG', 'SP', 'MG', 'ES', 'ES', 'ES', 'SP', 'SP', 'MG', 'ES', 'SP', 'RJ', 'MG', 'RJ', 'SP', 'MG', 'SP', 'ES', 'SP', 'MG']
# Armazenando os estados sem repetição de valor
estados_unicos = list(set(estados))

# Criando uma lista de listas com valores repetidos de cada estado
lista_de_listas = []
for estado in estados_unicos:
    lista = [uf for uf in estados if uf == estado]
    lista_de_listas.append(lista)

# Criando um dicionário em que a chave é o nome de cada estado único e o valor é a contagem de elementos
contagem_valores = {estados_unicos[i]: len(lista_de_listas[i]) for i in range(len(estados_unicos))}
print(contagem_valores)

{'ES': 6, 'RJ': 2, 'SP': 8, 'MG': 7}

In [ ]:
funcionarios = [('SP', 16), ('ES', 8), ('MG', 9), ('MG', 6), ('SP', 10), ('MG', 4), ('ES',9), ('ES', 7), ('ES', 12), ('SP', 7), ('SP', 11), ('MG',8), ('ES',8), ('SP',9), ('RJ', 13), ('MG', 5), ('RJ', 9), ('SP', 12), ('MG', 10), ('SP', 7), ('ES', 14), ('SP', 10), ('MG', 12)]

# Armazenando os estados sem repetição de valor
estados_unicos = list(set([tupla[0] for tupla in funcionarios]))

# Criando uma lista de listas com valores de funcionários de cada estado
lista_de_listas = []
for estado in estados_unicos:
    lista = [tupla[1] for tupla in funcionarios if tupla[0] == estado]
    lista_de_listas.append(lista)
print(lista_de_listas)

# Criando um dicionário com dados agrupados de funcionário por estado
agrupamento_por_estado = {estados_unicos[i]: lista_de_listas[i] for i in range(len(estados_unicos))}
print(agrupamento_por_estado)

# Criando um dicionário com a soma de funcionários por estado
soma_por_estado = {estados_unicos[i]: sum(lista_de_listas[i]) for i in range(len(estados_unicos))}
print(soma_por_estado)

[[8, 9, 7, 12, 8, 14], [13, 9], [16, 10, 7, 11, 9, 12, 7, 10], [9, 6, 4, 8, 5, 10, 12]]
{'ES': [8, 9, 7, 12, 8, 14], 'RJ': [13, 9], 'SP': [16, 10, 7, 11, 9, 12, 7, 10], 'MG': [9, 6, 4, 8, 5, 10, 12]}
{'ES': 58, 'RJ': 22, 'SP': 82, 'MG': 54}

#Desafio 4
##Aquecendo na programação

In [ ]:
try:
  numero_1 = float(input("Digite um número: "))
  numero_2 = float(input("Digite outro número: "))
  divisao = numero_1 / numero_2
  print(divisao)
except TypeError:
  print("Não foi possível calcular a divisão. Os dados fornecidos são inválidos")
except ValueError:
  print("Valor inválido. Refaça a operação.")

Digite um número: 2
Digite outro número: r
Valor inválido. Refaça a operação.

In [ ]:
try:
    numero_1 = float(input())
    numero_2 = float(input())
    divisao = numero_1 / numero_2
except Exception as e:
    print(type(e), f'Erro: {e}')

2
0
<class 'ZeroDivisionError'> Erro: float division by zero

In [ ]:
idades = {'Júlia': 16, 'Carol': 23, 'Alberto': 19, 'Roberta': 17}

try:
  nome = input("Digite um nome de usuário: ")
  resultado = idades[nome]
  print(resultado)
except KeyError:
  print("Usuário não cadastrado(a) no sistema")

Digite um nome de usuário: Maria
Usuário não cadastrado(a) no sistema

In [ ]:
def converte_lista(lista):
    try:
        nova_lista = [float(elemento) for elemento in lista]
    except Exception as e:
        print(type(e), f'Erro: {e}')
    else:
        return nova_lista
    finally:
        print('Fim da execução da função')

In [ ]:
lista1 = [4,6,7,9,10,4]
lista2 = [-4,6,8,7,9]

def soma_listas(lista1, lista2):
  try:
      if len(lista1) == len(lista2):
          dados = [(lista1[i], lista2[i], lista1[i]+lista2[i]) for i in range(len(lista1))]
      else:
          raise IndexError('A quantidade de elementos em cada lista é diferente.')
  except Exception as e:
     print(type(e), f'Erro: {e}')
  else:
     return dados

In [ ]:
gabarito = ['D', 'A', 'B', 'C', 'A']

# Criando a função que recebe a lista de listas com as notas dos estudantes
def corretor(testes: list):
  pontuacoes = [] # criando a lista que receberá as pontuações caso a exceção não seja lançada
  try:
    for teste in testes:
      nota = 0 # variável que acumula a nota de cada estudante
      for i in range(len(teste)):
        if teste[i] not in ['A', 'B', 'C', 'D']: # Verificamos se temos uma alternativa valida
          raise ValueError(f'A alternativa {teste[i]} não é uma opção de alternativa válida')
        elif teste[i] == gabarito[i]: # Verificamos se as respostas são iguais e adicionamos à nota
          nota += 1
      pontuacoes.append(nota) # adicionamos a nota do(a) estudante na lista de pontuações
  except Exception as e:
    print(e)
  else:
    return pontuacoes # retornando a lista de pontuações se não lançarmos a exceção

In [ ]:
# Testando no exemplo que não lança exceção
testes_sem_ex = [['D', 'A', 'B', 'C', 'A'], ['C', 'A', 'A', 'C', 'A'], ['D', 'B', 'A', 'C', 'A']]
corretor(testes_sem_ex)

[5, 3, 3]

In [ ]:
# Testando no exemplo que lança exceção
testes_com_ex = [['D', 'A', 'B', 'C', 'A'], ['C', 'A', 'A', 'E', 'A'], ['D', 'B', 'A', 'C', 'A']]
corretor(testes_com_ex)

A alternativa E não é uma opção de alternativa válida

In [ ]:
def avalia_texto(texto: list):
  for palavra in texto:
    if(',' or '.' or '!' or '?') in palavra:
      raise ValueError(f'O texto apresenta pontuações na palavra "{palavra}".')
  return "Texto já tratado!"

In [ ]:
# Testando no exemplo que não lança exceção
lista_tratada = ['Python', 'é', 'uma', 'linguagem', 'de', 'programação', 'poderosa', 'versátil',
                  'e', 'fácil', 'de', 'aprender', 'utilizada', 'em', 'diversos', 'campos', 'desde',
                  'análise', 'de', 'dados', 'até', 'inteligência', 'artificial']

try:
  avaliacao = avalia_texto(lista_tratada)
except Exception as e:
  print(e)
else:
  print(avaliacao)

Texto já tratado!

In [ ]:
# Testando no exemplo que lança exceção
lista_nao_tratada = ['Python', 'é', 'uma', 'linguagem', 'de', 'programação', 'poderosa,', 'versátil',
                  'e', 'fácil,', 'de', 'aprender', 'utilizada', 'em', 'diversos', 'campos,', 'desde',
                  'análise', 'de', 'dados', 'até', 'inteligência', 'artificial!']

try:
  avaliacao = avalia_texto(lista_nao_tratada)
except Exception as e:
  print(e)
else:
  print(avaliacao)

O texto apresenta pontuações na palavra "poderosa,".

In [ ]:
# criando a função que recebe as duas listas e a operação a ser realizada
def divide_colunas(lista_1: list, lista_2: list) -> list:
  # try-except que verifica se é possível calcular a divisão e lança exceção se as listas tem tamanhos diferentes
  # ou se temos alguma divisão por zero em um dos cálculos entre os números das listas
  try:
    if len(lista_1) != len(lista_2): # Verificando se as listas tem o mesmo tamanho, se não lança uma exceção
      raise ValueError("As listas precisam ter o mesmo tamanho")

    # A função zip pareia os elementos das listas e uma lista é gerada por meio da razão entre os pares
    resultado = [round(a / b, 2) for a, b in zip(lista_1, lista_2)]
  except ValueError as e:
    print(e)
  except ZeroDivisionError as e:
    print(f"{e}: A 2ª lista não pode possuir um valor igual a 0")
  else:
    return resultado

In [ ]:
# Testando no exemplo que não lança exceção
pressoes = [100, 120, 140, 160, 180]
temperaturas = [20, 25, 30, 35, 40]

divide_colunas(pressoes, temperaturas)

[5.0, 4.8, 4.67, 4.57, 4.5]

In [ ]:
# Testando no exemplo que lança exceção (ZeroDivisionError)
pressoes = [60, 120, 140, 160, 180]
temperaturas = [0, 25, 30, 35, 40]

divide_colunas(pressoes, temperaturas)

division by zero: A 2ª lista não pode possuir um valor igual a 0

In [ ]:
# Testando no exemplo que lança exceção (ValueError)
pressoes = [100, 120, 140, 160]
temperaturas = [20, 25, 30, 35, 40]

divide_colunas(pressoes, temperaturas)

As listas precisam ter o mesmo tamanho

#Biblioteca Numpy

In [ ]:
import numpy as np

ano_inicial = 2002
ano_final = 2102
np.arange(ano_inicial, ano_final + 1, 4)

array([2002, 2006, 2010, 2014, 2018, 2022, 2026, 2030, 2034, 2038, 2042,
       2046, 2050, 2054, 2058, 2062, 2066, 2070, 2074, 2078, 2082, 2086,
       2090, 2094, 2098, 2102])